extends layout.pug


block content

  .hero
    .hero__img-container
      .hero__img(style="background-image: url(../../img/hero.jpg)")
    .hero__rectangle
    .hero__align
      .grid.grid--container
        .row
          .col.col--sm-10.col--sm-offset-2
            .hero__container
              h1.h1.h1--hidden Корпоративным клиентам
              p.hero__description Разработать парсер фотографий для сервиса инстаграм. Бихевиоризм неравномерен. Элемент политического процесса






